<h1 aline="center">신이 나를 만들 때</h1>
<!--<%= @lotto %>-->
<!--<%= @text %>-->
<br>

<!-- view 에서는 controller에서 처리한 데이터를 변수에 담아서 가져오는 것이 바람직합니다.-->
<!-- MVC 패턴으로 나눠서 하는 이유는 역할맞는 것을 하는 것이 효율적이라서 그러합니다.-->
<!-- 코딩에서 들여쓰기는 필수!!-->


<!--조건문은 if ~ end문만 있는게 아니라-->
<!--if ~A~ elsif ~B~ end 문도 있는데 아래 해당되는 것은 동작은 하지만 바람직하지 못한 문법입니당 -->
<!--화요일스터디에서 for문을 이용해서 실습한것으로 알고 있는데-->
<!--지금은 동작하지만 배열을 이용해서 하는 것은 "each"를 사용하는 것이 
추후에 개발하실 때 훨씬 바람직한 반복문 사용입니다.-->
<!--이유는 배열이 값을 자유롭게 추가할수 있는데 for문을 지금처럼 사용하시면 추가할때마다 숫자를 변경해야됩니다.-->
<!--each를 사용하는 것은 배열의 값들의 수만큼 반복하기 때문에 훨씬 수월합니다.-->

<!--@다른값=@text2.sample(1).to_s-->

<%for i in 0...3 do%>
    <% if @image_lotto[i] == 0 %>
        <%= @text0 %>
        <br>
        <%= image_tag @image_lotto[i], height: '200', width: '200' %>
    <%end%>
<%end%>
<%for i in 0...3 do%>
    <% if @image_lotto[i] == 1 %>
        <%= @result1 %>
        <%= image_tag @image_lotto[i], height: '200', width: '200' %>
    <%end%>
<%end%>
<%for i in 0...3 do%>
<% if @image_lotto[i] == 2 %>
        <%= @result2 %>
        <%= image_tag @image_lotto[i], height: '200', width: '200' %>
    <%end%>
<%end%>
<%for i in 0...3 do%>
        <% if @image_lotto[i] == 3 %>
        <%= @result3 %>
        <%= image_tag @image_lotto[i], height: '200', width: '200' %>
    <%end%>
<% end %>
